@import url(https://fonts.google.com/specimen/Poppins);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-image: url(/img/background-mountain.jpg);
}

a {
    text-decoration: none;
}

li a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

ul {
    list-style: none;
}

.home-btn {
    color: #27ae60;
    text-decoration: underline;
    font-weight: bold;
}

/* Navbar */
.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.navbar img {
    height: 32px;
    width: auto;
    background-color: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}
#ctn-contact {
    padding: 8px 15px;
    background:  #27ae60;
    border-radius: 30px;
    color: whitesmoke;
}

.ctn {
    padding: 8px 15px;
    background:  #27ae60;
    border-radius: 30px;
    color: whitesmoke;
}

.ctn:hover {
    background-color: white;
    color: #27ae60;
    border: 2px solid #27ae60;
    cursor: pointer;
}

/* Headers */

.header-content {
    margin-bottom: 50px;
    color: whitesmoke;
    text-align: center;
    padding-top: 20vh;
}

.header-content h3{
    font-size: 5vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #27ae60;
    margin: 10px auto;
    border-radius: 5px;
}

/* Blog cards */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px; 
    padding: 0 20px;
    justify-items: center; 
}

.card {
    width: 100%; 
    position: relative;
}

.card-image {
    width: 100%;
    height: 80vh; 
    object-fit: cover; 
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    backdrop-filter: blur(15px);
    padding: 10px;
    width: 80%; 
}

.overlay-text h4 {
    margin: 0;
    font-size: 1.4em;
    gap: 10px;
}

.overlay-text p {
    margin: 0;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #27ae60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.card-info i {
    margin-right: 5px;
}

.card-info a {
    text-decoration: none;
    color: #27ae60;
    background-color: whitesmoke;
    padding: 7px 10px;
    border-radius: 20px;

}

.card-info a:hover {
    color: whitesmoke;
    background-color: #27ae60;
    border: 2px solid whitesmoke;
    padding: 5px 8px;
    border-radius: 20px;
}

/* Video section title */

.small-header-content {
    margin-bottom: 50px;
    color: whitesmoke;
    text-align: center;
    padding-top: 10vh;
}

.small-header-content h3{
    font-size: 4vmin;
}

.small-header-content p {
    font-size: 2vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #27ae60;
    margin: 10px auto;
    border-radius: 5px;
}

/* Video cards */

.videos {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 1200px; 
    justify-items: center; 
}

.video {
    position: relative;
}

video {
    width: 100%;
    height: 40vh;
    object-fit: cover;
} 

/* Recently Publsihed Blogs Cards*/

.recent-blogs {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px; 
    padding: 0 20px;
    justify-items: center; 
    margin-bottom: 150px;
}

.recent-blog {
    width: 100%; 
    position: relative;
}

.blog-image {
    width: 100%;
    height: 50vh; 
    object-fit: cover; 
    border: 3px solid #27ae60;
}

.overlay-text-blog {
    position: absolute;
    top: 65%;
    left: 5%;
    font-weight: normal;
    color: whitesmoke;
}

.overlay-text-blog h3 {
    margin: 0;
    font-size: 1.4em;
    gap: 10px;
    font-weight: normal;
}

.overlay-text-blog p {
    font-size: smaller;
    padding-top: 15px;
    margin: 0;
}

/* Footer */

footer {
    font-size: smaller;
    width: 100%;
    height: 175px;
    padding: 20px 80px;
    margin: 0;
    background-color: #27ae60;
    text-align: center;
}