@import url(https://fonts.google.com/specimen/Poppins);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navbar */
.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.navbar img {
    height: 30px;
    width: auto;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/david-marcu-78A265wPiO4-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 7vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #27ae60;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 5vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background:  #27ae60;
    border-radius: 30px;
    color: whitesmoke;
}