body {
    background-image: url(/img/adam-kool-ndN00KmbJ1c-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 20%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    opacity: 75%;
    border-radius: 25px;
}

nav a {
    text-decoration: none;
    color: #27ae60;
}

#logo {
    font-size: 1.2em;
    font-weight: 600;
}

#logo img {
    width: 125px;
    overflow: hidden;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}

label {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

ul a {
    padding: 0.5em;
}

.active {
     border-bottom: 2px solid white;    
}

#wrapper {
    display: grid;
    grid: 150px / 30% 40% 30%;
    grid-auto-rows: 150px / 40% 30% 30%;
}

main {
    display: grid;
    grid-column: 2;
    background-blend-mode: color;
    text-align: center;
    font-size: 4rem;
    color: white;    
    
}

p {
  grid-column: 2 / span 1;
  background-color: transparent;
  text-align: center;
  color: white;
}

#explore-now_button a {
    text-decoration: none;
    color: white;
}

#explore-now_button  {
    grid-column: 2 / span 1;
    border-color: white;
    text-align: center;
}
