@import url(https://fonts.google.com/specimen/Poppins);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

ul {
    list-style: none;
}

.home-btn {
    color: #27ae60;
    text-decoration: underline;
    font-weight: bold;
}

/* Navbar */
.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.navbar img {
    height: 32px;
    width: auto;
    background-color: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

#ctn-contact {
    padding: 8px 15px;
    background:  #27ae60;
    border-radius: 30px;
    color: whitesmoke;
}

.ctn {
    padding: 8px 15px;
    background:  #27ae60;
    border-radius: 30px;
    color: whitesmoke;
}

.ctn:hover {
    background-color: white;
    color: #27ae60;
    border: 2px solid #27ae60;
    cursor: pointer;
  }

/* Tours Header */

.tours-header {
    background-image: url(/img/background_tours.jpg);
    height: 100vh;
}

.tours-header-content {
    margin-bottom: 50px;
    color: whitesmoke;
    text-align: center;
    padding-top: 20vh;
}

.tours-header-content h3{
    font-size: 5vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #27ae60;
    margin: 10px auto;
    border-radius: 5px;
}

/* Searchbar */

.searchbar-section {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    position: relative;
    height: 76px;
    min-width: 800px;
    background-color: whitesmoke;
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.1);
}

.searchbar i,
.searchbar .button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.searchbar i {
     left: 20px;
     font-size: 30px;
     color: lightslategrey;
}
.searchbar input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.searchbar .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    background-color: #27ae60;
    cursor: pointer;
} 

.searchbar .button:hover {
    background-color: white;
    color: #27ae60;
    border: 2px solid #27ae60;
    cursor: pointer;
}
